<form class="myform" action="/loginuser" method="POST">
    <h1>{{errors}}</h1>
    <h1><i class="fa fa-sign-in" aria-hidden="true"></i>  Log in</h1>
    <label class="labels" for="useremail">Username: </label><br>
    <input class="inputs" type="email" id="useremail" name="useremail"><br>

    <label class="labels" for="userpassword">Password: </label><br>
    <input class="inputs" type="password" id="userpassword" name="userpassword"><br>

    <button class="button" type="submit">Log in</button><br>
    <p><a class="labels" href="/register">Create account</a></p>
</form>